.tasks-content {
    background-color: white !important;
    color: black;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tasks-content .header {
    display: flex;
    justify-content: space-between;
    background-color: #42a5f5;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px 0 #42a5f5;
}

.tasks-content .body{
    width: 100%;
    height: 440px;
    overflow: auto;
    background-color: #42a5f5;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px 0 #42a5f5;
    position: relative;
    margin-bottom: 20px;
}

.tasks-content .body::-webkit-scrollbar{
    width: 5px;
}

.tasks-content .body::-webkit-scrollbar-track{
    background-color: white;
}

.tasks-content .body::-webkit-scrollbar-thumb{
    background-color: #42a5f5;
    border-radius: 10px;
}

.task-status {
    display: flex;
    gap: 7px;
}

.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #42a5f5;
    padding: 15px;
    border-radius: 10px;
}

@media (width <= 786px) {
    .tasks-content{
        padding: 10px;
    }
    .tasks-content .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        margin-bottom: 15px;
        border-radius: 7px;
        color: white;
        width: 100%;
        margin-inline: auto;
    }
    .header .title h1{
        font-size: 20px;
    }
    .header input{
        padding: 10px;
    }
    .header .MuiFormControl-root {
        width: fit-content;
    }
    .tasks-content .body{
        border-radius: 7px;
        padding: 5px;
        margin-bottom: 15px;
    }

    .tasks-content .body::-webkit-scrollbar{
        width: 4px;
    }

    .tasks-content .body::-webkit-scrollbar-track{
        background-color: white;
    }

    .tasks-content .body::-webkit-scrollbar-thumb{
        background-color: #42a5f5;
        border-radius: 10px;
    }

    .task-status {
        display: flex;
        gap: 4px;
    }

    .footer{
        padding: 5px;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}