.nav-bar-content {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #121212;
}

.nav-bar-content .logo img{
    width: 100px;
}